.main-login {
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

@media (width < 768px ) {
    .main-login {
        width: var(--max-width-dvw);
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}