.container-main {
    width: var(--max-width);
    height: var(--min-height-dvh);
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}