/* ==========================================================================
   1. VARIABLES DE TEMA Y TIPOGRAFÍA
   ========================================================================== */
:root {

  /* Fuentes */
  --font-sans: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

  /* Base */
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.5;
  color: black;
  background-color: white;
  color-scheme: light dark;

  /* Renderizado de texto */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Tamaño de ancho y alto */
  --max-width: 1280px;
  --medium-width: 768px;
  --min-witdth: 365px;
}

/* ==========================================================================
   2. RESETEO ESTRUCTURAL (Box Sizing y Márgenes)
   ========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: var(--max-width);
  min-height: 100dvh;
  background-color: white;
  margin: 0 auto;
  color: black;
}

/* ==========================================================================
   3. ELEMENTOS DE FORMULARIO Y TIPOGRAFÍA
   ========================================================================== */
/* Heredar fuentes en elementos de entrada */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}